<mat-toolbar>
  <ng-container id="headerLayout">
    <div class="logoContainer">
      <div class="logoImage">
        <span class="logo"></span>
      </div>
    </div>
    <span class="logoTitle"> Assembly Configurator</span>
    <span class="example-spacer"></span>
    <div class="rightMenuContainer">
      <div class="rightMenu">
        <button mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>help_outline</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>notifications</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>person</mat-icon>
        </button>
      </div>
    </div>
  </ng-container>
</mat-toolbar>
<router-outlet></router-outlet>
