::ng-deep {
  @import "~perfect-scrollbar/css/perfect-scrollbar";
}

@import "src/styles/variables.scss";

.footerArea {
  bottom         : 25px;
  position       : fixed;
  justify-content: center;
  left           : 25px;
}

::ng-deep .mat-selection-list {
  width: 100%;

  mat-list-option {
    height: 2.5rem
  }
}

#groupSearchForm {
  // margin: 10px 10px 0 10px;

  .mat-form-field {
    width  : 100%;
    display: contents !important;
  }
}

::ng-deep .mat-form-field-wrapper {
  margin-bottom: -1.2rem !important;

}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  // padding      : .75em .75em 0 0 !important;
  border-top   : 1px solid #9c9c9c;
  border-left  : 1px solid #9c9c9c;
  border-radius: 0px !important;
}

.mat-list-base {
  overflow-y: auto;
  height    : 60vh;
}

::ng-deep .custom-frame {

  & .mat-checkbox-background,
  .mat-checkbox-frame {
    border-radius: 70% !important;
  }
}

.mat-raised-button {
  border-radius : 50px;
  text-transform: uppercase;
}


.btn-1 {
  border-radius   : 50px;
  text-transform  : uppercase;
  color           : #ffc402;
  border          : 2px solid #ffc402;
  background-color: #171717;
}




.w-100 {
  width: 100%;
}

.mt-1 {
  margin-top: 1rem;
}



.mat-list-option {
  width      : 113px;
  height     : 13px;
  // position: absolute;
  // left: 65px;
  // top: 150px;
  font-family: Helvetica Neue;
  font-style : normal;
  font-weight: 500;
  font-size  : 11px;
  line-height: 13px;
  color      : #B5B5B5;
}